.hero {
    background-size: cover;
    background-position: center;
    height: 95.6vh;
    margin: 0px;
    color: white;
    padding: 35px 100px 0 100px;
    transition: background-image 1s ease;
}

.heading {
    text-align: left;
    color: rgba(243, 232, 232, 0.997);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

.logo-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.logo {
    width: 60px;
    height: 60px;
    animation: logoRotater 25s infinite linear;
}

@keyframes logoRotater {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.welcome-heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 46px;
    margin-bottom: 3px;
    border-bottom: 1px solid rgb(246, 198, 9);
    transition: all 1s linear;
} 

.welcome-heading:hover {
    border: 1px solid rgb(246, 198, 9);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 15px rgb(246, 198, 9);
}

.welcome-info {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-content {
    height: 85vh;
    transition: all 0.3s ease;
}

.status-con {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.status-img {
    width: 100px;
}

.hero-text-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 0.6s ease;
}

.search-con {
    transition: all 0.5s ease;
    border-top: 1px solid rgba(247, 246, 244, 0.352);
    border-bottom: 1px solid rgba(247, 246, 244, 0.352);
    border-right: 0px;
    border-left: 0px;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    padding-left: 11px;
    padding: 15px;
    background-color: rgba(24, 24, 23, 0.453);
    color: rgb(220, 214, 214);
    cursor: pointer;
    text-align: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition-delay: 3s;
}

.search-con:hover {
    position: relative;
    transition: all 0.5s ease;
    width: 300px;
    border-top: 1px solid rgba(247, 246, 244, 0.352);
    border-bottom: 1px solid rgba(247, 246, 244, 0.352);
    border-right: 0px;
    border-left: 0px;
    border-radius: 9px;
    height: 18px;
    padding: 15px;
    color: rgb(220, 214, 214);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.59), inset 0 0 12px rgba(251, 3, 201, 0.148);
}

.search-input {
    width: 90%;
    border: none;
    background: none;
    color: white;
    outline: none;
    font-size: 14px;
    transition-duration: 0.8s;
}

.search-input::placeholder {
    color: rgba(250, 250, 250, 0.811);
}

.hero-search-button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    padding: 0px;
}

.con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.location-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-size: 25px;
    width: fit-content;
    margin: 0px;
}

.location-icon {
    font-size: 35px;
}

.time {
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    margin-left: 10px;
}

.temperature-con {
    text-align: left;
}

.temperature-text {
    font-size: 85px;
    margin: 0px;
    color: rgb(227, 238, 247);
    padding: 0px;
}

.weather-condition-text {
    font-size: 75px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(194, 193, 193);
    display: flex;
    align-items: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.497);
    width: 250px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: rgba(233, 241, 249, 0.905);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.59);
    transition: background-color 0.7s ease;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.812);
}

.d {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.485);
    margin-bottom: 12px;
}

.wind-icon {
    font-size: 20px;
}

.pp {
    margin: 0px;
    padding-left: 15px;
    padding-bottom: 2px;
}

.forecast-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.497);
    border-radius: 8px;
    padding: 25px;
    color: rgba(233, 241, 249, 0.905);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.59);
}

.feels-p {
    font-size: 25px;
    margin: 0px;
    margin-bottom: 25px;
    color: rgb(215, 232, 246);
    padding: 0px;
    text-align: left;
}

.forecast-day-card {
    background-color: rgba(0, 0, 0, 0.497);
    border-radius: 8px;
    width: 175px;
    height: 175px;
    padding: 15px 20px;
    color: rgba(233, 241, 249, 0.905);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-date {
    font-size: 21px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(194, 193, 193);
}

.forecast-temp {
    font-size: 25px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(194, 193, 193);
}

.forecast-text {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(194, 193, 193);
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.footer-con {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  padding: 7px;
  transition: width 0.4s ease, padding 0.4s ease;
  overflow: hidden;
}

.footer-icon {
  font-size: 24px;
  color: rgba(222, 236, 248, 0.7);
  opacity: 0;
  transform: translateX(12px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.footer-icon:hover {
    color: white;
}

.footer-p {
  color: rgba(222, 236, 248, 0.88);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px;
  animation: nameShaker 1s infinite ease;
}

.footer-p:hover {
    animation: none;
    animation-delay: 3s;
}

@keyframes nameShaker {
    0% { 
        transform: rotate(0deg);
    }
    20% { 
        transform: rotate(1deg);
    }
    40% { 
        transform: rotate(-1deg);
    }
    60% { 
        transform: rotate(1deg); 
    }
    80% { 
        transform: rotate(-1deg);
    }
    100% { 
        transform: rotate(1deg); 
    }
}

.footer-con:hover .footer-icon {
  opacity: 1;
  transform: translateX(0);
}

.footer-con:hover {
  padding-right: 22px;
  animation: none;
}


@media (max-width: 1320px) and (min-width: 1024px) {
    .forecast-date {
        font-size: 18px;
    }

    .forecast-temp {
        font-size: 21px;
    }

    .forecast-text {
        font-size: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(194, 193, 193);
    }

    .forecast-day-card {
        width: 110px;
        padding: 10px 15px;
        justify-content: space-around;
    }

    .temperature-text {
        font-size: 65px;
    }

    .location-con {
        font-size: 18px;
    }

    .location-icon {
        font-size: 25px;
    }

    .footer {
        position: fixed;
        right: 0;
    }

    .hero {
        padding: 35px 85px 0 85px;
    }
}

@media (max-width: 769px) {
    .hero {
        padding: 25px 55px 6px 55px;
    }

    .heading {
        font-size: 25px;
    }

    .logo {
        width: 46px;
        height: 46px;
    }

    .welcome-heading {
        font-size: 30px;
    }

    .welcome-info {
        font-size: 12px;
    }

    .footer-p {
        font-size: 12px;
    }

    .footer-icon {
        font-size: 18px;
    }

    .search-con {
        padding: 10px;
    }

    .search-con:hover {
        width: 200px;
        padding: 10px;
    }

    .location-con {
        font-size: 15px;
    }

    .location-icon {
        font-size: 18px;
    }

    .temperature-text {
        font-size: 55px;
    }

    .weather-condition-text {
        font-size: 46px;
    }

    .weather-icon {
        width: 49px;
    }

    .card {
        width: 175px;
    }

    .d {
        margin: 0px;
    }

    .pp {
        font-size: 12px;
    }

    .feels-p {
        font-size: 18px;
    }

    .forecast-container {
        padding: 10px;
    }

    .forecast-day-card {
        padding: 12px;
    }

    .forecast-date {
        font-size: 15px;
    }

    .forecast-temp {
        font-size: 16px;
    }

    .forecast-img {
        width: 39px;
    }

    .forecast-text {
        font-size: 14px;
    }
}

@media (max-width: 724px) {
    .hero {
        background-size: cover;
        padding: 25px;
    }

    .hero-text-content {
        margin-bottom: 10px;
    }

    .logo {
        width: 36px;
        height: 36px;
    }

    .heading {
        font-size: 20px;
    }

    .location-con {
        font-size: 12px;
    }

    .location-icon {
        font-size: 15px;
    }

    .time {
        font-size: 12px;
    }

    .weather-condition-text {
        font-size: 25px;
    }

    .weather-icon {
        width: 35px;
    }

    .feels-p {
        font-size: 12px;
    }

    .temperature-text {
        font-size: 30px;
    }

    .card {
        width: 135px;
    }

    .forecast-container {
        overflow-y: hidden;
    }
}
